[2013-10-10 17:40] jaredly opened #1 "use the github npm module"
instead of rolling our own
https://github.com/mikedeboer/node-github

[2013-11-01 19:26] morkeleb opened #2 "verify_webhook_req() signature missing"
I let strider setup my webooks, yet, they arnt working.

All i get is a log entry stating:
verify_webhook_req() signature missing

which doesn't give me much in terms of debugging. Have I missed anything in my setup?

[2013-11-02 20:44] morkeleb opened #3 "Cannot add github repo after upgrade to HEAD of strider"
Whenever I try to add anything githuby I get an error page with the following error.

Express
500 failed to fetch user profile (status: 401 data: {"message":"Requires authentication","documentation_url":"http://developer.github.com/v3"})
at /usr/lib/node_modules/strider/node_modules/strider-github/node_modules/passport-github/lib/passport-github/strategy.js:90:28
at passBackControl (/usr/lib/node_

[2013-11-02 21:21] #3 closed, assigned to nobody

[2013-11-02 21:30] morkeleb opened #4 "add remove service hooks buttons does nothing"
There is no feedback when pressing the buttons, nor do they do anything in the github repo.

After removing and adding the project again I can however mention that the webhook url is significantly changed.

[2013-11-03 09:27] #4 closed, assigned to nobody

[2013-11-03 17:40] #2 closed, assigned to nobody

[2013-12-01 23:07] niallo opened #5 "Must set User-Agent on Github api requests"
According to http://developer.github.com/v3/#user-agent-required

the User-Agent header MUST be set on all requests.

[2013-12-01 23:07] #5 closed, assigned to nobody

[2014-03-01 05:08] freewil opened #8 "Invalid Signature"
GitHub webhook POSTs are being rejected with the message `Invalid Signature`. It seems like GitHub may have recently changed their API, because the POSTs do not contain a `X-Hub-Signature` for Strider to verify.

I have tried deleting the service hooks and re-adding them from the strider project config page to no avail.

[2014-03-08 01:38] #8 closed, assigned to nobody

[2014-03-17 01:06] chevett opened #10 "Someone hit the webhook for 'xxx' and it failed to validate."
Strider was really easy to get mostly working!  The only issue I'm having is that web hooks from github aren't validating and therefore aren't triggering builds.

I have a server running strider on http://localhost:3000 then I have nginx in front of that handling the ssl at https://ci.miketown3.com.

I'm trying to get notifications from https://github.com/rrrelay/named-logger and it's setup to hit

[2014-05-02 11:37] jonlil opened #13 "ng-click save does not work as expected"
https://github.com/Strider-CD/strider-github/blob/master/config/config.html#L6

Hi, there is a bug on this line and it should be changed to ng-change

[2014-05-02 14:56] #13 closed, assigned to nobody

[2014-06-16 15:07] oliversalzburg opened #17 "Problems in GitHub communication"
Today I noticed that our strider is no longer processing commits from our projects.

When looking into the issue, I noticed some problems which were apparently fixed by https://github.com/Strider-CD/strider-github/pull/16 (please but another release to NPM btw). Even after I applied those changes to our install, I still see the following response on GitHub:

[code]

I see that error for the test r

[2014-08-01 13:22] kfatehi opened #20 "Webhook registration errors must bubble up"
See https://github.com/Strider-CD/strider/issues/495

[2014-10-09 17:30] knownasilya opened #22 "Env variables needed to configure"
So I'm trying to get my github setup working, but I think I had my base url misconfigured before. So now I revoked the permissions and set the right base url, but it still looks for the localhost base for the github callback url.

Are there any ENV variables for this plugin, would love a list so we can add to the readme.

[2014-10-09 21:25] #17 closed, assigned to nobody

[2014-10-10 15:31] #22 closed, assigned to nobody

[2014-10-10 16:00] niallo opened #23 "Document github enterprise usage"
This works with github enterprise - we should add instructions to the README.

[2014-10-28 22:38] keyvanfatehi opened #25 "poor error when failing authorization due to lack of email address"
There is this error, which is apparently no longer thrown if you set your email address correctly in github.

Code there needs to be inspected and determined if a better error can be thrown, e.g. "You need to enter your email address into Github."

[code]

Ref original issue: https://github.com/Strider-CD/strider/issues/599

[2014-12-04 09:26] tbouron opened #27 "OAuth issue"
Hi there.

I tried to setup Github with my strider installation on heroku. I create the Github app, created environment variables as per as [this comment](https://github.com/Strider-CD/strider-github/issues/22#issuecomment-58583253) but I'm still not able to login.

Here is the error message:

[code]

And my configuration:

[code]

Do you know what is going on?

Thanks.

[2014-12-04 13:19] #27 closed, assigned to nobody

[2015-01-06 12:24] SamMorrowDrums commented on #25
https://github.com/Strider-CD/strider-github/pull/28

[2015-01-06 17:54] hernan43 opened #29 "Getting a "Project not found" error when trying to connect to Github"
So I am using Strider(HEAD -> dc751b7). If I use it on my local machine everything works as advertised, I can connect to Github and pull in projects and everything seems to be firing on all cylinders.

When I try to use it on an EC2 instance, I am using it with an Nginx proxy. Everything except the Github stuff appears to work. If I try and connect to Github I get the following message on a blank

[2015-01-13 15:35] doubliez commented on #29
I have the exact same problem. I have also configured Strider and the Github plugin with these 4 environment variables, but get "Project not found" when trying to connect to Github (/auth/github).

I'm using Strider 1.6.0 and have the latest version of the github plugin according to the admin page.

[2015-01-13 16:00] jaredly commented on #29
You say "when I try to connect to github" --> What's the URL that gives you the "Project not found" message?

[2015-01-13 16:02] doubliez commented on #29
It's http://strider/auth/github (if http://strider is the SERVER_NAME, where I access strider).

[2015-01-13 16:05] hernan43 commented on #29
In my case it is just the https version of the above.

[2015-01-13 17:11] doubliez commented on #29
If I go to `http://strider/auth/github/callback`, I get to authenticate on Github and everything works fine. So I can actually connect to Github now, but still, the url one should go to in order to connect to Github should be `/auth/github`, not `/auth/github/callback` (which is only the callback called after the authentication on Github).

[2015-01-14 16:27] Nepoxx commented on #29
The `/auth/github` is coming from https://github.com/Strider-CD/strider-github/blob/master/package.json#L29
I'm having that same issue. If I go to `/auth/github/callback` and proceed with it, I get the following stack trace:
[code]

[2015-01-14 16:33] knownasilya commented on #29
Looks like this might be due to the change to Express 4 that I brought in. Since now the extension-loader might be loading things after certain routes, so the catch-all is being called before the provider routes are configured. @jaredly does that sound right?

[2015-01-14 17:05] knownasilya commented on #29
Could anyone seeing this issue try this branch: https://github.com/knownasilya/strider/tree/fix-auth-routes

[2015-01-14 18:05] Nepoxx commented on #29
Issue is still present for me.

[2015-01-14 22:11] jaredly commented on #29
@knownasilya yeah that sounds right.

[2015-01-15 07:46] doubliez commented on #29
@Nepoxx The error you're getting is related to this issue: https://github.com/Strider-CD/strider-github/issues/25

So just add your email address on your Github profile, and it should work.

[2015-01-15 14:49] Nepoxx commented on #29
@doubliez That was indeed the issue (it's kinda weird that we have to fill out our public e-mail, but that's another discussion.

@knownasilya This being said, your fix works!

[2015-01-15 15:06] knownasilya commented on #25
Fixed in 9bc4bfa8bcf59f691f08bd45d3be7f868fc735b3

[2015-01-15 15:06] #25 closed

[2015-01-15 15:07] knownasilya commented on #29
@Nepoxx @doubliez I just submitted a fix for that.

[2015-01-15 15:24] #29 closed

[2015-01-15 15:28] knownasilya commented on #10
@chevett I'm assuming this is still an issue even with the current master version?

[2015-01-15 15:30] chevett commented on #10
I haven't updated in a while, but I can give it a try this afternoon if
that's helpful.
On Jan 15, 2015 10:28 AM, "Ilya Radchenko" <notifications@github.com> wrote:

[2015-01-15 15:31] knownasilya commented on #10
@chevett would be much appreciated! :+1:

[2015-01-15 23:42] chevett commented on #10
There isn't much of an issue here anymore.  There was a bug in the github ui that messed up the webhook if you disabled the ssl verification and I have just confirmed that this bug has been fixed by github.

If you have a strider instance that is using a self signed cert, then you have manually disable ssl verification through the github webhook ui and that is working correctly now.

[2015-01-15 23:42] #10 closed

[2015-01-17 22:30] mingfang opened #30 "Unable to install with StriderCD 1.6.0"
2015-01-17_22:23:03.54172 /strider/node_modules/strider-github/lib/webapp.js:71
2015-01-17_22:23:03.54183       clientSecret: config.appSecret
2015-01-17_22:23:03.54183       ^^^^^^^^^^^^
2015-01-17_22:23:03.54751 2015-01-17T22:23:03.547Z - info: failed to load plugin github Unexpected identifier SyntaxError: Unexpected identifier
2015-01-17_22:23:03.54751     at Module._compile (module.js:439:25)

[2015-01-18 20:25] geekflyer commented on #23
Hi @niallo,

I'm trying to use Strider with Github enterprise, but it doesn't work.
Apparently in this line:
https://github.com/Strider-CD/strider-github/blob/master/lib/api.js#L11-L12
the endpoint URLs are initialized. However during the initialization of the module the concerning environment variables (e.g. `process.env.PLUGIN_GITHUB_API_DOMAIN') are not defined, even though I've exported them b

[2015-01-19 09:23] rayman22201 opened #32 "Not registering the Environment variables"
I set the environment variables as per the documentation, but Strider seems to be ignoring them.

I used the following environment variables:
PLUGIN_GITHUB_APP_ID
PLUGIN_GITHUB_APP_SECRET
PLUGIN_GITHUB_HOSTNAME

I don't see any references to those variables in the code.
Is the Strider extension loader is supposed to auto-load environment variables into the config object? :confounded:

For now, I m

[2015-01-19 13:13] knownasilya commented on #30
This has been fixed, update your version of `strider-github` to 1.3.2 via the plugin manager. You might have to first remove `node_modules/strider-github`.. If you have issues, please reopen.

[2015-01-19 13:13] #30 closed

[2015-01-19 13:14] knownasilya commented on #32
Can you try master.

[2015-01-19 22:49] rayman22201 commented on #32
I did a pull from master. It does not work. :-(

[2015-01-20 01:18] knownasilya commented on #32
No you have `SERVER_NAME` set, as per the instructions [here](https://github.com/Strider-CD/strider#configuring)?

[2015-01-20 01:28] rayman22201 commented on #32
Yup. I set the `SERVER_NAME` environment variable, and that worked. :+1: :smile:

is `PLUGIN_GITHUB_HOSTNAME` used at all?

Thanks so much for your help.

[2015-01-20 13:39] knownasilya commented on #32
Maybe not.. I'll look through the code when I get a chance, and if it's not we should remove it from the README.

[2015-01-23 17:09] reiven opened #34 "The redirect_uri MUST match the registered callback"
Hi

I'm running strider on port 7777, i've set this ENV variables:

on github, if i set the callback to

it says: 500 AuthorizationError: The redirect_uri MUST match the registered callback URL for this application.

What i'm doing wrong?

[2015-01-23 17:10] knownasilya commented on #34
I think you need to specify the port in your `SERVER_NAME` variable.

[2015-01-23 17:17] reiven commented on #34
@knownasilya thanks for you answer, that was fast :)
anyway, now i got

but i have email set on github (!?)

[2015-01-23 17:19] knownasilya commented on #34
You need to add your email to github. Also, make sure to update your github plugin via the plugin manager.

[2015-01-23 17:35] reiven commented on #34
Ok, i've already had an email address but what is needed is to have a public email email on your profile.
It will be nice to add this settings in the Readme :)

Thanks a lot @knownasilya !

[2015-01-23 17:35] #34 closed

[2015-01-23 17:37] knownasilya commented on #34
No problem, feel free to submit a PR to cleanup the README :+1:

[2015-01-29 17:34] trein commented on #32
Hi @knownasilya and @rayman22201,

I'm facing a similar problem here. I'm using the plugin version 1.3.2, but I'm still getting `localhost` (http://localhost:3000/auth/github/callback) when adding a new account on account settings.

Here is my upstart script:

[code]

Thanks,

[2015-01-29 18:08] knownasilya commented on #32
@trein try removing the port from server_name.

[2015-01-29 18:13] trein commented on #32
Thanks for the reply @knownasilya. I removed the port, but the issue persists.

[2015-01-29 18:26] knownasilya commented on #32
@trein not sure, but your example has a typo: `http:/myurl..`, there is only one slash.

[2015-01-29 18:29] trein commented on #32
@knownasilya sorry about that. I had to mask the real URL. It's just a typo on the comment. I'm going to fix it. On `/etc/init/strider.conf` it is correct.

[2015-01-29 18:30] knownasilya commented on #32
Are any of the variables passing to strider, like the port? If you can confirm that, we can try other things.

[2015-01-29 18:32] trein commented on #32
@knownasilya No. That's all that is being passed.

[2015-01-29 18:35] knownasilya commented on #32
What I meant, is that in your example you show setting `PORT`, can you confirm that Strider is running on that port (via netstat or something)?

If you aren't setting it, could you, just as a test.

[2015-01-29 18:43] trein commented on #32
@knownasilya Yes, it is running on port 1234.

[2015-01-29 18:46] knownasilya commented on #32
And you set both: `PLUGIN_GITHUB_APP_ID` and `PLUGIN_GITHUB_APP_SECRET`?

Also if you tried to auth with github before setting the server_name, there might be an entry in github that references the localhost callback url. See if there is, and delete it.

[2015-01-29 20:16] trein commented on #32
Hi @knownasilya. That was a silly mistake. That's what I was missing! `PLUGIN_GITHUB_APP_ID` and `PLUGIN_GITHUB_APP_SECRET` weren't configured properly. I took over this task from another dev and haven't realized that he had forgotten to set them.

I apologize for the mistake. Thank you very much for the support.

[2015-01-29 20:23] knownasilya commented on #32
No problem. Looks like we need to throw an error if SERVER_NAME is set and the other's aren't and you try to auth..

[2015-01-29 20:27] trein commented on #32
Indeed. That would improve error tracing.

[2015-01-29 20:47] knownasilya commented on #32
Hostname discrepancy resolved with #35

[2015-01-29 20:49] knownasilya opened #36 "Throw error if github id & secret are not set"
Comes from the discussion in #32.

Would have to remove the default values for this to work, or at least compare against the default config if SERVER_NAME is changed.

[2015-01-29 20:50] knownasilya commented on #32
Opened #36 for a better error if needed variables aren't set

[2015-02-13 18:40] briandela commented on #25
I'm still seeing this on the latest master. I just cloned everything and when I try to connect to github I get:

[code]

Any ideas?

[2015-02-13 18:51] knownasilya commented on #25
Do you have a public email set for your github account?

On Fri, Feb 13, 2015 at 1:40 PM, Brian Delahunty <notifications@github.com>
wrote:

--
*Ilya Radchenko*
*Application Developer*
617-447-2425 Direct | 617-447-2400 Main
Applied Geographics, Inc.
24 School Street, Suite 500
Boston, MA 02108
www.AppGeo.com

--
This e-mail message and any attachments may contain confidential or legally
privilege

[2015-02-13 19:04] briandela commented on #25
Yep - it's not the same as the login I used for strider (my strider login is a private email on my github but I do have a public email)

[2015-02-13 19:21] knownasilya commented on #25
@briandela what version of strider-github are you using?

[2015-02-14 04:40] briandela commented on #25
I did a `git clone` of it this morning.

[2015-02-14 05:40] briandela commented on #25
I found the issue - github was showing my email as Public when I went to emails, but in another part of my profile it was showing as private. I set everything up as public again and it's working now.

[2015-02-15 00:23] knownasilya commented on #25
nice. I thought we fixed this issue, guess not..

[2015-03-14 08:13] smilledge commented on #25
For anyone else who is having this problem you need to go to https://github.com/settings/profile and select an email under "Public email".

[2015-03-14 13:49] knownasilya commented on #25
@smilledge I added your suggestion to the README

[2015-04-09 17:48] paul42 commented on #23
I don't know if this is helpful but one minor difference I noted was github's public API is in a different 'location' than enterprise API,
curl -i https://api.github.com/users/octocat/orgs against public
curl -i https://github.ENTERPRISEHOST.com/api/v3/ against enterprise - and you must auth everything

[2015-04-22 15:29] samartioli commented on #23
I think Strider should stop saying it works with GitHub Enterprise until it actually works with GitHub Enterprise.
As far as I can tell right now it does not.

[2015-04-22 15:52] knownasilya commented on #23
@samartioli I think @niallo wa mistaken in this case, but we don't otherwise advertise that we support GH enterprise.

[2015-04-22 18:44] samartioli commented on #23
http://strider.readthedocs.org/en/latest/intro.html#github-github-enterprise-bitbucket

[2015-05-15 17:12] notbrain opened #37 "Not sure how to install this alongside Strider itself"
Been reading all the READMEs and a little bit of the code but can't find a step by step on how to install strider-github alongside strider itself. Is it a standalone server? Where does it go? I tried

    $ bin/strider install strider-github
    GET [ecosystem]/plugins.yml
    strider-github is not a valid plugin

Any guidance greatly appreciated!

[2015-05-15 17:14] knownasilya commented on #37
should just be `bin/strider install github` since it looks by the id in the index, here: https://github.com/Strider-CD/ecosystem-index/blob/master/plugins.yml

But really, you can do all of this through the UI. Admin > Plugins > Update all plugins, then install additional plugins.

[2015-05-15 18:26] notbrain commented on #37
Thanks!

[2015-05-15 18:32] #37 closed

[2015-05-28 19:43] fny opened #38 "Failure When Adding Second Github Account"
I successfully setup a Strider account and attached a Github repo to it. When attempting this with a second Strider account, however, I received the following 500 error during the callback from Github:

[code]

[2015-05-28 19:47] fny commented on #38
Figured it out. That user did not have their email set as public. Is there any reason why that's a necessity?

[2015-05-28 20:08] knownasilya commented on #38
As far as I know it's there to authenticate.

Also it seems like you are using an older version of strider-github, make sure to update your plugins via Admin > Plugins on the latest version of Strider

[2015-05-28 20:08] #38 closed

[2015-06-04 19:09] oliversalzburg opened #41 "What is the point of api.js?"
The only reference to the file is in a test. It's not used in this plugin and I can't find another plugin that references it.

In fact, there is a lot of code duplication between `api.js` and `index.js`.

[2015-06-04 19:15] oliversalzburg commented on #41
Ah, now I see the usages. I was grep'ing for `api.js` and didn't find the imports.

However, my point about the code duplication remains. Is there a reason for this?

[2015-06-10 01:30] macropin commented on #32
I had this same problem. In my case `PORT=3000` wasn't set. Even though Strider is running on the default port (3000) and behind a load balancer (port 80) this plugin requires this config to be set. I would consider this to be a defect, as the default should be used.

[2015-06-10 02:37] knownasilya commented on #32
Good to know.

[2015-06-20 17:32] phiros opened #44 "More meaningful error messages"
Hi,

I have a strider instance running in a docker container behind a Nginx server.
Strider runs on port 3000 and Nginx acts as proxy serving strider via https.
My environment variables are set as follows:
[code]

[2015-06-23 12:51] JaywayCreations opened #45 "Failed to obtain access token"
I'm running Strider on port 3000 behind an Apache server (on Mac OS X). I've set the env vars: PLUGIN_GITHUB_APP_ID, PLUGIN_GITHUB_APP_SECRET, SERVER_NAME and URL prior to launching Strider. When I authorize my app at GitHub it hangs for almost a minute and tries to load this URL: http://myserver.com/auth/github/callback?code=xxxyyy

Then I get this message:
[code]

Any idea what's wrong?

[2015-06-23 13:32] knownasilya commented on #45
Is your server exposed to the world? Seems like Github is trying to auth, but cannot reach your Strider instance, so Strider times out after some time. Make sure strider has been exposed to the world.

[2015-06-23 13:33] ciryon commented on #45
Yes, it's exposed to the world and it seems GitHub reaches the server as I get the error message in the Strider server log.

[2015-06-23 13:37] knownasilya commented on #45
But that error doesn't mean that Github was able to hit that url, it just means it didn't get anything, especially since it took some time..

[2015-06-23 14:01] ciryon commented on #45
Ok, it really does seem the server is accessible from world. Tried from another remote machine.
The URL from GitHub looks like this: https://github.com/login/oauth/authorize?response_type=code&redirect_uri=http%3A%2F%2Fmyserver.com%2Fauth%2Fgithub%2Fcallback&scope=repo&client_id=abc123 and after a while redirects (?) into my callback URL.

The client ID matches with what I have in PLUGIN_GITHUB_AP

[2015-06-23 14:13] knownasilya commented on #45
So put a console log or a debugger here: https://github.com/Strider-CD/strider-github/blob/master/lib/webapp.js#L134 and you'll know if it hits it. Most likely it isn't, even if Github calls the url. I'd check your Apache logs to make sure it went through.

[2015-06-25 12:58] knownasilya commented on #1
@jaredly @niallo does the proposed alternative support arbitrary SSH Keys?

[2015-06-25 16:38] jaredly commented on #1
We would still need our own git-push logic (via Gitane). But their github api stuff is pretty solid.

[2015-06-25 17:33] knownasilya commented on #1
Ok, so the idea was to replace the API logic, but keep the wrapper (so to not remove gitane).

[2015-06-25 17:38] knownasilya commented on #44
You could put some console logs/breakpoints into the strider-github lib (in your node_modules folder).

[2015-06-26 06:56] ciryon commented on #45
Ok, after further investigation it turned out that the server had bad DNS servers configured. After correction Strider can successfully connect with GitHub and the list of repos is displayed. Now I get a 404 when attempting to setup a repo, but I'll dig deeper into that and create a seperate issue if needed. My apologies.

[2015-06-26 10:01] #45 closed

[2015-06-26 10:01] knownasilya commented on #45
Thanks for following up.

[2015-06-28 21:06] phiros commented on #44
I facepalmed a little bit when I found out what the problem was.
You must never use quotes around the value of the ```SERVER_NAME``` variable.
Strider just concats the value of this variable with ```auth/github/callback```. So I ended up
with a redirect_uri of: ```'https://foo'/auth/github/callback``` instead of ``` https://foo/auth/github/callback```.
I am not sure whether you can consider this b

[2015-07-01 19:56] phiros opened #47 "Tests of master gets triggered while a pr check is running"
When running a PR job it can happen that in parallel someone merges changes to master.
This triggers a job start on the master branch while the PR job is still running.
![bug2](https://cloud.githubusercontent.com/assets/16182/8463581/db07b598-203b-11e5-994a-88c7cf851551.png)

In addition to this (unexpected) behavior the output of the PR job becomes unavailable
(just a black field is displayed whe

[2015-07-01 20:03] knownasilya commented on #47
Is this related to Strider-CD/strider#745?

[2015-07-01 20:29] phiros commented on #47
Just checked the logs, doesn't seem to be related to #745 (I greped for 'TypeError', 'died' and 'error'; couldn't find any of these terms in the log).
I think this Bug is only related to the code  in the github plugin (either this or something in strider itself). Also: I've noticed this behavior several times and only in the described constellation (e.g. a PR job is running and somebody merges som

[2015-07-01 20:40] phiros commented on #47
Also noteworthy:
I just observed that as soon as the merge/master job is done other jobs are getting processed (regardless of being a PR job or a merge/master job). The whole having two jobs running
situation only stops when the original PR job (the job which ran before the merge/master job) job stops.
After the original PR job stopped I was able to access its output (like for any other finished j

[2015-07-01 22:00] phiros commented on #47
And another one:
I now noticed a situation in which three PR jobs run concurrently which is kind of bad for what I am doing since each job uses large amounts of CPU time and hard disk space...
All of the jobs are PR jobs now:
![bildschirmfoto vom 2015-07-01 23 59 39](https://cloud.githubusercontent.com/assets/16182/8465854/5bcc04b6-204d-11e5-9224-a6c228b49405.png)

[2015-07-01 22:54] knownasilya commented on #47
Interesting, so the PR is handled differently then the commit. Sounds like something here: https://github.com/Strider-CD/strider-github/blob/master/lib/webhooks.js#L82

[2015-07-02 15:49] phiros commented on #47
Hmm, maybe. However, what irritates me is that in the end they both just send out the ```"job.prepare"``` event and in the simple runner there is one queue associated with each
project (if I am not mistaken)....
Maybe there is a problem with the handling of the ```job.prepare``` event?

[2015-07-02 15:55] knownasilya commented on #47
Very possible. Could you have a look, I'm currently roadtripping.

[2015-07-31 08:12] felicienfrancois opened #48 "Error creating project (Failed to setup repo: Bad status code: 401)"
I run strider behind a reverse proxy. Strider run on localhost:3000 (default settings) and my http server  proxy it to http://mydomain.com (port 80)

Env variables set up:
[code]

I can connect to github successfully and get back to strider with my project list, but when I click on "Add project, I get the following error:
[code]

In the logs:
[code]

[2015-07-31 08:35] felicienfrancois commented on #48
My github plugin was not up-to-date.
I no longer get this error after update to latest

[2015-07-31 08:35] #48 closed

[2015-07-31 14:15] knownasilya commented on #48
Glad to hear that :+1:

[2015-08-20 07:37] saraf opened #50 "getting this working with github enterprise"
I have set up GH Enterprise (trial for 45 days) on a VM.

Am setting the ENV variables and running strider as follows:
[code]
When trying to add a Github account gets me to an error page
[code]

So, what are the steps needed to get this working with github enterprise?

[2015-08-20 07:39] saraf commented on #50
![gh enterprise](https://cloud.githubusercontent.com/assets/117493/9378137/00e12a2a-475a-11e5-97bc-751f9e3cad36.PNG)

[2015-08-20 12:07] knownasilya commented on #50
I'm not aware if anyone has ever used Github Enterprise with Strider successfully, if they have, then it looks like a possible API change?

[2015-08-20 12:24] saraf commented on #50
I saw a couple of commits - https://github.com/Strider-CD/strider-github/commit/39345dd3c72a73fa150a6d08487619c51cfc3fe2
and
https://github.com/Strider-CD/strider-github/commit/0abde9aef27a2bcaece596ab681f0b36cb08e56e
(however, parts of those commits are now gone from the code - in https://github.com/Strider-CD/strider-github/commit/d40401074b2bac2b2e94a687ffa559ce0f3c56ef)

Also saw - http://stri

[2015-08-20 14:35] knownasilya commented on #50
Can you add a `// TODO: add enterprise support` line where you remove those lines? Thanks.

[2015-08-21 03:00] saraf commented on #50
done!

On Thu, Aug 20, 2015 at 11:35 PM, Ilya Radchenko <notifications@github.com>
wrote:

[2015-08-29 06:39] saraf opened #53 "sendJob should return true, because if we reach that point in the code, the job has been successfully created?"
This issue is the same as the one in the gitlab provider - https://github.com/Strider-CD/strider-gitlab/issues/30

[2015-08-29 13:17] #53 closed

[2015-09-23 08:52] boo1ean opened #55 "Github auth callback url issue"
Seems like `strider-github` doesn't use `SERVER_NAME` to build github auth callback url.

It always redirects me to localhost.

Bitbucket integration works well though.

[2015-11-18 22:20] apiv commented on #50
With some local modifications, I've gotten strider-github to connect to our enterprise github server. I'm working on making more appropriate modifications right now, and should have a pull request up in the next few days.

Basically, what needs to be done:

   - [ ] **api.js:423** - here we are assuming that the team id is the /a/b/*this*. All enterprise api urls start with /api/v3, so all we need

[2015-11-19 00:17] knownasilya commented on #50
Glad to have you onboard @apiv! Looking forward to your PRs.

We already have an issue about using a github API module here: https://github.com/Strider-CD/strider-github/issues/1 but we would still need to keep the `gitane` module around. If you want to tackle this, go for it. I'll try to help as much as possible.

[2015-11-19 19:26] apiv commented on #50
Cool, I've made #56 to add enterprise support without the API refactor. I still want to take a shot at refactoring the API to use octonode, I'm just still getting acquainted with passport and the Strider-CD api. I might have some questions along the way, so I'll open a new issue for 'Use octonode' when I get started.

[2015-12-07 20:10] apiv commented on #50
#56 merged, this issue should be all set to close.

[2015-12-07 20:12] knownasilya commented on #50
I'll close this once I release the GE changes.

[2016-01-06 09:34] midgethoen commented on #55
I have this same issue..  i'm trying to figure out how I am supposed to configure this.

[2016-01-06 13:04] knownasilya commented on #55
@midgethoen have you updated your github in the Strider "Plugins" page?

[2016-01-12 11:53] tomhallam commented on #55
Also having this issue

[2016-01-14 09:29] mastertinner commented on #55
+1

[2016-01-14 13:51] knownasilya commented on #55
Found a workaround. Use the following ENVs to configure github:

[code]

Along with `SERVER_NAME`. Looks like there is a check for plugins, which are
found by the `PLUGIN_<pluginname>` env prefix and then Github config is fixed. Will look into this some more later.

[2016-01-14 19:13] knownasilya commented on #55
Could someone post how they start strider, with the envs (you can blank them out if they are sensitive)?

[2016-01-15 09:25] mastertinner commented on #55
`export SERVER_NAME = "https://strider.scapp.io"`
`export DB_URI = [my_mongo_uri]`
`export SMTP_HOST = "smtp.mailgun.org"`
`export SMTP_USER = [my_mailgun_username]`
`export SMTP_PASS = [my_mailgun_password]`
`NODE_ENV=production npm start`

[2016-01-15 13:07] knownasilya commented on #55
^ ok yes you are missing the two ENVs for setting up the github plugin, see https://github.com/Strider-CD/strider-github/issues/55#issuecomment-171649444

[2016-01-16 00:12] mastertinner opened #58 "Please update version on npm to 2.2.0"

[2016-01-22 23:14] emcniece commented on #55
Hit this while doing some Nginx proxy shenanigans, and exporting `SERVER_NAME` worked after realizing that it needs to be set to the publicly-facing connection, not the internal one.

I am using [this upstart script](https://fosterelli.co/creating-a-private-ci-with-strider.html#create-the-strider-upstart-job).

- The upstart script was exporting "http://123.456.1.2:4000"
- Github auth endpoint was

[2016-01-25 13:46] alexfernandez commented on #58
Yes, please! 2.1.2 is not working for me, always uses `localhost:3000`.

[2016-01-25 13:49] #58 closed

[2016-01-25 13:49] knownasilya commented on #58
Published. @alexfernandez are you setting your `SERVER_NAME` and `PLUGIN_*` envs?

[2016-01-25 16:38] alexfernandez commented on #58
Wow that was quick :)

Yes, I am adding `SERVER_NAME`, but it was not working with @2.1.2. I am unhappy to report that it is not working either with @2.2.0. I will comment on the relevant issue https://github.com/Strider-CD/strider-github/issues/55.

[2016-01-25 16:40] knownasilya commented on #58
@alexfernandez are you adding the `PLUGIN_GITHUB_*` envs, you need those for Strider to recognize that you have a github plugin.

[2016-01-25 16:41] alexfernandez commented on #58
Yes, those two too.

[2016-01-25 16:44] knownasilya commented on #55
@alexfernandez could you put a `console.log(rc)` here (after the `if`): https://github.com/Strider-CD/strider/blob/master/lib/libconfig.js#L69 and run the app and post the results (make sure to obscure sensitive info) here.

[2016-01-25 16:57] alexfernandez commented on #55
The problem is that Strider is changing the env variable `SERVER_NAME` to `strider_server_name` [here]. I have fixed it with this PR: https://github.com/Strider-CD/strider-github/pull/59.

[2016-01-25 17:01] knownasilya commented on #55
That is how `rc` works, so it shouldn't be a problem. Try master with something like `DEBUG=strider:config PLUGIN_GITHUB_TEST=test SERVER_NAME=blah npm start`

[2016-01-25 17:07] alexfernandez commented on #55
Actually, that is what I am seeing in my [version 1.7.5](https://github.com/Strider-CD/strider/blob/v1.7.5/lib/libconfig.js#L103), just installed with `npm install strider`.

[2016-01-25 17:30] alexfernandez commented on #55
You are right, the change referenced above is unnecessary.

The problem was that, if you use a domain different than `localhost:3000`, you need to add your own developer integration as explained [here](https://github.com/Strider-CD/strider-github#enterprise-setup). Novice error, but it shows as a redirect to `http://localhost:3000` since this is the default declared callback URL for the default cl

[2016-01-25 18:30] alexfernandez opened #60 "Setting up a private project I can access but do not own"
Using `strider-github@2.2.0`. In the list of projects I see all GitHub projects where I have access rights. However, when clicking on `Add` and while `Setting up` is running, I get an error:

    Error creating project for repo user/project:
    {"results":[],"status":"error","errors":[{"code":500,
    "reason":"Failed to setup repo: Bad status code: 404"}]}

If I fork the project then I can set i

[2016-01-25 18:33] knownasilya commented on #60
You need to be the admin on the project, since Strider sets up webhooks.

[2016-01-25 18:34] alexfernandez commented on #60
Oh, true. I think better documentation and error messages would solve the issue beautifully. Would you like me to send a PR with both?

[2016-01-25 18:35] knownasilya commented on #60
@alexfernandez yes please :+1:

[2016-01-25 23:56] #60 closed

[2016-01-26 00:55] #23 closed

[2016-01-26 00:58] #32 closed

[2016-01-26 00:58] knownasilya opened #62 "Fix tests"
Tracking https://github.com/visionmedia/superagent/issues/413 since it breaks the node 0.10 tests.

[2016-02-03 11:06] asayuki commented on #55
This is still an issue. I've tried the solution above and it does not work. Still getting localhost:3000 in my callback URL.

[2016-02-03 13:08] knownasilya commented on #55
Did you update to 1.7.6?

[2016-02-03 13:15] asayuki commented on #55
Running 1.7.6 yes.

Bitbucket is working fine, but Github not so much.

[2016-02-03 13:18] knownasilya commented on #55
So I cannot reproduce this issue. I'll try do a fresh setup this weekend. Any help in narrowing down where the issue is, would be very appreciated.

[2016-02-03 16:05] Voffkaa opened #65 "File version mismatch on npm install"
On npm install strider-github lib/webhooks.js deffers from version at this repo.

[2016-02-03 18:04] asayuki commented on #55
Sorry, I've got it to work now. Misplaced characters in ENV.

By starting the application by using `SERVER_NAME=http://my.address PLUGIN_GITHUB_APP_ID=<myAppID> PLUGIN_GITHUB_APP_SECRET=<myAppSecret> node bin/strider` I got it to work.

Might be worthwhile to update the README and state that `ID` and `SECRET` must be present for it to work, instead of optional.

[2016-02-03 18:39] knownasilya commented on #55
The should be optional as of 1.7.6.. will look into that.

[2016-02-08 06:41] midgethoen commented on #55
@knownasilya sry, I missed your question and should have updated my question anyway. Yes, I upgraded the github plugi, which -- I believe -- fixed the issue for me.

[2016-02-13 15:54] #65 closed

[2016-02-13 15:55] knownasilya commented on #65
2.3.0 should be updated

[2016-02-16 20:14] apiv opened #66 "Allow specification of APP_ID, SECRET, DOMAIN, ENDPOINT per account"
I'd like to be able to manage my github enterprise and github.com repos on the same strider instance. As of right now, I can only do one or the other (since the config is locked in by the environment config).

What I'd like to do is add some additional fields to the "Add Account" form. These fields can be hidden by default, shown when a user clicks an "Advanced Options" button. These fields would

[2016-02-16 20:17] knownasilya commented on #66
Would totally take a PR :+1:

[2016-02-22 17:43] notbrain opened #67 "webhooks.js expecting objects to exist that do not"
We have a simple setup of 3 branches that auto-build when updated, but master does not. Wanted to get this here as a placeholder before I have time to dig in in case anyone else is working on this...some extra checking would avoid these errors but if I had to guess there is an underlying issue with webhooks firing on branches that are disabled.

    2016-02-19T00:30:11.474Z - error: TypeError: Can

[2016-02-22 17:47] knownasilya commented on #67
First that I'm seeing this, so most likely no one is working on it. Go right ahead with that PR :wink:

[2016-04-25 14:11] mandoz opened #68 "Use SSH authentication instead of HTTPS"
Hello,

I am running into a problem with the following situation:
I have a python project on github that depends other private repositories within the organization. When I run the tests using the docker runner, the repository is cloned using https authentication and no private key is used (and hence no private key is placed inside the repository). The way we install the dependencies would be by ca

[2016-04-25 14:12] mandoz commented on #68
This is of course not specific to python per se, but to the use case of requiring private dependencies over `git+ssh`.

[2016-04-25 17:51] #68 closed

[2016-04-26 09:29] mandoz commented on #68
If you have an existing installation of Strider-CD, you will need to do the following steps after the plugin upgrade:
1. Remove your project/repo.
2. Refresh your github repos.
3. Add the project/repo again.

This is because the value of the authentication method is set at the time the repos are fetched from github.

[2016-04-26 10:35] knownasilya commented on #68
Might be easier to just update the mongodb table.

[2016-06-13 12:52] midgethoen opened #70 "Unable to 'run' new projects due to ssh failure (publickey)"
We've been using strider successfully for a while in our organization. However I noticed today that I cant 'run' newly added projects anymore, because of the following error:
` Git clone failed with code 500`
[code]

some digging unveiled that previously added projects are using https and this one is using ssh. which led me to this pr #69

Is this supposed to work out of the box or do I need to ma

[2016-06-13 12:52] midgethoen commented on #70
FYI we're using the strider-github for adding projects

[2016-06-13 13:04] knownasilya commented on #70
It should work out of the box. Sounds like we need an option to clone via ssh or https. I think I'll revert PR 69.

[2016-06-13 13:40] midgethoen commented on #70
Yes, I did try that..

[2016-06-13 13:43] knownasilya commented on #70
Ok, I think a revert is in order..

[2016-06-13 13:48] midgethoen commented on #70
let me double check if we have all the latest versions before you revert based on this issue

[2016-06-13 14:11] midgethoen commented on #70
we're on strider 1.7.6 and strider-github 2.3.1

[2016-06-13 14:22] knownasilya commented on #70
Ok, I'll try to do the revert later today.

[2016-06-13 15:06] midgethoen commented on #70
FYI I It's working again after I installed 2.3.0
thanks for the help!

[2016-06-19 10:27] JKY commented on #55
@asayuki , it works

[2016-06-19 14:20] #55 closed

[2016-07-04 10:19] xgalen commented on #67
I've just found the same bug. This appears when the webhook is triggered by some events like `Created` or `Deleted`, because these properties are not sent by GitHub. The solution could be put some text as default. I will send a PR today or tomorrow.

[2016-07-30 15:17] crobinson42 commented on #55
FYI - I was running strider 1.7.7 and everything worked fine with the basic env vars (no github_app_id or secret). I ended up reinstalling and got strider v1.8.0 and now it's required that I set `github_app_id` & `github_secret` in order for github plugin to work.

[2016-08-02 10:16] xgalen opened #72 "Delete branch"
Hi,

In our team we need to exec something (with custom-scripts plugin) when deleting a branch. However, since Strider first tries `git clone`and fails, the custom-scripts plugin is not executed.

We can check when a branch is deleted with her payload:
[code]

Is it possible to Strider doesn't do a `git clone` and continue with the other plugins? If not, do you think it's possible to make some cod

[2016-08-02 10:39] oliversalzburg commented on #72
I didn't even know Strider does *anything* when a branch is deleted. That makes no sense.

[2016-08-02 10:46] xgalen commented on #72
I mean when you delete a branch on GitHub and if you have configured the event (and we want this, in order to exec some scripts through Strider), GitHub send the event to Strider.

The occured is this (obviously because the branch does not exist):
[code]

[2016-08-02 11:33] knownasilya commented on #72
We could execute cleanup probably..

[2016-08-02 11:39] oliversalzburg commented on #72
Well, the webhook is supposed to be called on pushes to a branch. You can call it for whatever you want, but that's not what it is intended for and, thus, the result you're seeing.

What do you want Strider to actually do when this event happens? Like, if you just want to run some custom script, why even involve Strider in this? It would probably be trivial to write a small Express application tha

[2016-08-02 11:58] xgalen commented on #72
We want to involve Strider on this because the script is to remove things created before by Strider as a part of our CD process. It's a way to close the circle, doing all the process with Strider. It's much robust maintain all of the process on Strider than one things on Strider and others in a small app.

If we could execute cleanup as knownasilya says and continue with the other plugins would be

[2016-08-02 12:44] knownasilya commented on #72
Another idea would be to add an `error` phase, which could have `STRIDER_JOB_ERROR_MSG` and `STRIDER_JOB_ERROR_CODE` envs. This might be more useful since errors happen for many reasons.

[2016-08-02 13:50] oliversalzburg commented on #72
I dunno, the whole thing seems like an XY problem. If there is something that is performed in Strider which creates persistent information, then Strider should probably clean it up itself.

If someone decides to create persistent information for every branch that is tested, then that's really not a problem Strider should solve.

If we were to introduce an error phase, then that would only enable p

[2016-08-02 13:55] knownasilya commented on #72
Really this is the issue that Strider is too narrow in it's handling of provider events (branches only) and falls under the task of "Strider needs environments" https://github.com/Strider-CD/strider/issues/367

[2016-08-03 11:26] xgalen commented on #72
And what about to execute the `cleanup` phase? This does not create a new phase, does not affect other plugins and add a new feature (support branch deletions).

[2016-08-03 12:02] oliversalzburg commented on #72
Well, I guess it would be a good idea to *always* run the cleanup phase. I can't see anything wrong with that.

[2016-08-08 12:12] oliversalzburg opened #73 "Strider fails to install deploy key"
I added a repo from a private organization (this whole procedure in itself has major issues if the third-party access for the organization is set to **Access restricted**). I was unable to run tests for that repo and noticed that no deploy key was installed by Strider.

[2016-09-21 14:40] mandoz commented on #70
Sorry for jumping on this so late. Yeah the issue is, the strider public key needs to be given access to the github repository.

One behavior we could implement out of the box (similar to what most hosted CI solutions do), so to add the public key as a `deployment key` to the repository on github.

The other use case in which we need to be able to install other private repositories while running t

[2016-09-21 15:15] knownasilya commented on #70
@mandoz does this need to be documented? If so could you update the README.

[2016-10-25 18:39] BluSyn opened #74 "Strider build 'undefined' branch when tag is pushed"
Recent strider + plugin upgrade caused this error. Have not yet determined what caused the breaking change.

When I push a new tag to my repo, strider attempts to build it, but `<%= ref.branch %>` returns `undefined`. Previously, strider would only build on branch pushes and not on new tags.

It's also possible this was a change in Github's webooks, but I haven't confirmed that. I tried disabling

[2016-10-25 18:46] knownasilya commented on #74
Weird, I've experienced the opposite. In the past it would build on tag, but recently (with latest updated) it hasn't triggered on tags.

[2016-10-25 19:03] BluSyn commented on #74
Strange. That's the problem I would prefer to have ;)

I usually push a tag+branch at the same time, and I don't recall it building twice in that case. Now it creates two builds: one with branch name, one `undefined`.

Version info-
Strider v1.9.3
strider-github v2.3.2

Screenshot shows how it looks in build history (tag+branch push):
<img width="461" alt="screen shot 2016-10-25 at 12 02 25 pm" sr

[2016-11-09 21:44] iradul opened #75 "Plugin crashes when pull request has merge conflict"
Our private github repo is triggering Strider every time someone creates pull request.
If pull request can be successfully merged everything works well but if there is a merge conflict [strider-git](https://github.com/Strider-CD/strider-git) module crashes and I'm ending up with forever pending status ( [strider-github-status](https://github.com/Strider-CD/strider-github-status) ):
![strider_issue

[2016-11-09 21:48] knownasilya commented on #75
From your point of view, should it fail the build?

[2016-11-09 22:01] iradul commented on #75
Yes absolutely, that would be much better indication that something is wrong.
For example Jenkins has ability to handle test/build errors with special kind of status message (failure or unstable).

[2016-11-21 15:23] anddimario opened #76 "Webhook error on release"
Hi, if i added a hook on releases the plugin crash, it seems that it search for commits, but the git payload doesn't have it, here the error:

0|strider  |     at startFromCommit (/home/strider/strider/node_modules/strider-github/lib/webhooks.js:50:51)
0|strider  |     at receiveWebhook (/home/strider/strider/node_modules/strider-github/lib/webhooks.js:277:16)
0|strider  |     at Layer.handle [as

[2016-11-21 15:40] #76 closed

[2016-11-21 15:42] knownasilya commented on #76
Released a new version, 2.3.3. Update in you plugins page.

[2016-11-22 09:48] anddimario commented on #74
I'm trying to use tags or release to trigger customs script, but triggers seems that are not fired. I saw that branch is undefined when hook is grabbed from strider, maybe it could be the problem. Have you some suggestions on this problem?

[2016-11-22 13:21] knownasilya commented on #76
Did 2.3.3 solve this issue?

[2016-12-03 16:33] ellerbrock commented on #25
yupp, same here.
just wanted to get started with strider, cloned the repository, updated all the plugins and then baam `500 Error: You need to enter your email address into Github.` to this one too :(

i tried to comment quick and dirty few things out but not too successful (also don't want to spend to much time on this subject).

here a workaround how you can get connected to github:

- go to you

[2016-12-03 16:44] knownasilya commented on #25
Thanks for your feedback. We welcome any contributions, especially documentation.

I've started working on a guides website, but have been busy since I became a father  2 days ago.

Feel free to submit a PR for the update all plugins feature. Look in the lib/routes and in strider-cli

[2016-12-03 16:59] ellerbrock commented on #25
hey that are great news, congratulations!
all the best wishes to you and your new family.
my little git clone is still in alpha version happy inside the belly from mami, spring next year its time or me go afk a while :)

i really was looking forward to play with strider but had quite a hassle and like i wrote was more or less on the way to try drone as alternative to the old heavyweight jenkins we

[2017-01-28 18:58] strickdj opened #77 "Git Clone Invalid Syntax"
I tried manually setting up a connection to bitbucket but it looks like the repo url is being incorrectly quoted in the git clone command.

`strider-runner-core:job Job "588ce062920b8607c0eb1017" status: stderr { '0': 'stderr', '1': 'Cloning into \'.\'...\n' } +76ms
  strider-runner-core:job Job "588ce062920b8607c0eb1017" status: stderr { '0': 'stderr', '1': 'conq: invalid command syntax.\n' } +6s

[2017-01-28 21:03] strickdj commented on #77
Sorry I think this is the wrong repo.

[2017-01-28 21:03] #77 closed

[2017-02-03 18:25] BluSyn commented on #74
It appears this is fixed now. I think it was an issue with Github sending improper/multiple webhooks, and strider interpreting it incorrectly. I do not see this issue now.

[2017-02-03 18:25] #74 closed

[2017-09-19 08:57] xgalen commented on #72
I think we can close this after the latest update.

[2017-09-19 08:59] xgalen opened #79 "git clone fails"
After the last upgrade `git clone` in the `prepare` phase is giving a 500 error.
I had to downgrade to `github 2.3.0` in order to continue working.

It says: `Permission denied (public key). Fatal: could not read from a remote repository` in all of our repositories but nothing has changed and it works again after the downgrade.

[2017-09-19 12:56] knownasilya commented on #79
I think it's https://github.com/Strider-CD/strider-github/pull/69 I think you need to add the key, not totally sure.

[2017-09-19 12:57] knownasilya commented on #72
Thanks for the reminder

[2017-09-19 15:35] xgalen commented on #79
The key was already added before the upgrade but does not work.

[2017-09-19 15:36] knownasilya commented on #79
Did you try re-adding after the upgrade?

[2017-09-19 17:00] xgalen commented on #79
The strider's key of the project didn't change and if I try to add the key again in GitHub, detects it's duplicated. I could try tomorrow but I think it won't have effect.

[2017-09-25 22:32] manuelbieh commented on #79
Same problem here. The only thing I can remember I did was Strider related was to press the "update all plugins" button. Since then almost(!) all my projects hosted on Github fail with the same Permission denied (publickey) error. Very frustrating.

[2017-09-25 22:43] manuelbieh commented on #79
For whatever reason it does not even work when downgrading to 2.3.0 ...

That's the error I get:

[code]

[2017-09-25 23:30] manuelbieh commented on #79
Looks like, for whatever reason, I had strider-git 1.0.1 installed which caused the error. After rolling back to 0.2.6 it seems to work again.

[2017-09-26 03:45] knownasilya commented on #79
I wonder if https://github.com/Strider-CD/strider-git/commit/2bf0c645b160f809b4f917b6a283e974d76442f6 fixed the issue you had with strider-git 1.0.1.. will release a new version.

[2017-12-12 09:59] xgalen commented on #79
Solved with the commit commented by @knownasilya

[2017-12-12 09:59] #79 closed

[2018-08-09 19:03] mishfit opened #80 "Question: Do you need an email address for Github to work?"
This line seems to throw if I don't have a public email displayed on my profile, however, I have two invisible emails setup:

https://github.com/Strider-CD/strider-github/blob/master/lib/webapp.js#L169
[code]

What's more, the next line at which an email is used potentially doesn't care if you do have one or not:
https://github.com/Strider-CD/strider-github/blob/master/lib/webapp.js#L181
[code]

_

[2018-08-09 20:07] knownasilya commented on #80
That is correct, you need a public email.

[2018-08-10 02:58] #80 closed